<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches"> 
    <mat-toolbar color="primary">
        <button mat-icon-button  (click)="snav.toggle()">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <h1 class="app-name">Inventory</h1>
        <div class="right">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>
                            help_outline
                        </mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>
                            person_outline
                        </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <mat-icon>exit_to_app</mat-icon>
                        Close session
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar>

<!--Empieza sidenav-->

<mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches?56:0">
    <mat-sidenav #snav [mode]="mobileQuery.matches? 'over':'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
            <div class="profile-card">
                <div class="header">   
                    <h2>Favio Flores</h2>
                    <h4>favio.flores.olaza&#64;gmail.com</h4>
                </div>
            </div>
            <mat-divider/>
            <a mat-list-item [routerLink]="nav.route" *ngFor="let nav of menuNav">
                <mat-icon class="icono">{{nav.icon}}</mat-icon>
                <mat-label class="text">{{nav.name}}</mat-label>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

   
</div>
